name: CI

on:
  push:
    branches: [ main, release/v* ]
    paths-ignore:
      - 'docs/**'
      - '**.md'

  workflow_dispatch:
  workflow_call:
   inputs:
      release:
        required: false
        type: boolean

  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'docs/**'
      - '**.md'

env:
  OPA_CLI_VERSION: v1.10.1

jobs:
  native_build:
    uses: ./.github/workflows/opa-native.yaml

  build:
    runs-on: ubuntu-latest
    needs: [ native_build ]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Restore Tools
      run: dotnet tool restore

    - name: Get Version
      id: get_version
      shell: pwsh
      run: |
        ./build/versions.ps1
        echo "version=$(dotnet nbgv get-version -v NuGetPackageVersion)" >> $env:GITHUB_OUTPUT

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.0.x

    - name: get_opa_lib
      uses: actions/download-artifact@v4
      with:
        name: opa-native
        path: ./src/Compilation/Interop/lib

    - name: Build
      run: dotnet build -c Release

    - name: Download OPA CLI
      run: |
        echo "Downloading OPA ${OPA_CLI_VERSION}"
        curl -L --fail -o /usr/local/bin/opa https://openpolicyagent.org/downloads/${OPA_CLI_VERSION}/opa_linux_amd64_static
        chmod 755 /usr/local/bin/opa

    - name: Tests
      run: dotnet test --configuration Release --no-build --no-progress --filter-not-trait "Compiler=Interop" -- --coverage --coverage-output-format cobertura --coverage-output cov.xml

    - name: Merge Coverage
      run: dotnet coverage merge -o coveralls.xml -f cobertura ./artifacts/**/cov.xml

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        file: coveralls.xml
        format: cobertura

    - name: Pack
      run: dotnet pack -c Release --no-build

    - uses: actions/upload-artifact@v4
      if: ${{ inputs.release }}
      with:
        name: artifacts
        path: ./artifacts/package/release/*
